.card {
  background-color: white;
  border-radius   : 6px;
  box-shadow      : 0 2px 8px rgba(0, 0, 0, 0.2);
  max-width       : 60vw;
  padding         : 10px;
  transition      : transform .7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card:hover {
  transform: scale(1.01);
}



@media(max-width : 800px) {
  .card {
    max-width: 90vw;
  }
}